<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us - Canteen Token System</title>
    <link rel="stylesheet" href="templates/about.css">
</head>

<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
             
              <li><a href="/">Home</a></li>
            
            </ul>
          </nav>
    </header>
    <form action="/about" method="post">
    <main>
        <h2 align="center">Our Services</h2><br>
        <section class="services">
            
            <div class="service-item">
                <img src="/images/menu.svg" alt="Service 1">
                <h3>Food Ordering</h3>
                <p>Order your favorite meals hassle-free using our token system.</p>
            </div>

            <div class="service-item">
                <img src="/images/token1.png" alt="Service 2">
                <h3>Token Purchase</h3>
                <p>Buy tokens easily and conveniently for quick transactions.</p>
            </div>

           
            <div class="service-item">
                <img src="/images/beverage1.png" alt="Service 5">
                <h3>Bevarages</h3>
                <p>Thirst quenching drink made just for you.</p>
            </div>

            <div class="service-item">
                <img src="/images/burger.svg" alt="Service 4">
                <h3>Hamburgers</h3>
                <p>The best burgers are simple, juicy, and messy.</p>
            </div>
            <br><br>
            <br><br>
                  </section>

                  <h2 align="center">Why Choose Us?</h2>      
                  <P>Step into our vibrant canteen where culinary delight knows no bounds! Our diverse menu is a tantalizing journey through a world of flavors, catering to every palate. From sizzling street food to comforting classics, we've got it all. Indulge in the aroma of freshly brewed coffee, savory spices, and the sweetness of baked treats.Experience a symphony of tastes from across the globe - whether you crave zesty Asian stir-fries, hearty Mediterranean dishes, or the familiar comfort of homestyle favorites. Our carefully curated selection ensures there's something for everyone, be it the health-conscious eater or the adventurous foodie seeking bold new tastes.</P><br>
                  
       

      
            

        
    </main>
    <footer>
        <p>&copy; 2023 Canteen Token System. All rights reserved.</p>
        <h1 align="center">Contact Us</h1><br>
        <p align="center">Email:canteent@gmail.com</p>
        <p align="center">Phone:+919334564789</p>
        <p align="center">Address: 123 street,City</p>
    </footer>

</form>
</body>

</html>